.fill-screen-vertical {
    min-height: 100%; /* compatibility */
    min-height: 100vh;
}

.vertical-centering {
    display: flex;
    align-items: center;
}

.horizontal-centering {
    display: flex;
    justify-content: center;
}


form.ng-invalid button:disabled {
    background-color: mistyrose;
}

input.ng-invalid {
    background-color: mistyrose;
}
