:host {
    display: block;
    padding: 1em;
}

h4, h5, h6 {
    margin: 0.2em;
}

li,
.user-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

li > * {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.active-link {
    color: darkorange;
}
