h4, h5, h6 {
    margin: 0.2em;
}

header {
    height: 100%;
    padding: 1em;
    box-shadow: .25rem 0 .75rem rgba(0, 0, 0, .05);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-item > * {
    margin-left: 0.2em;
    margin-right: 0.2em;
}
