.mapping-type-option {
    margin-right: 1em;
}

.permission-identifier {
    font-weight: bold;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.role-identifier {
    margin-left: 0.2em;
    margin-right: 0.2em;
}
