table {
    margin: 1em;
    width: 100%;
}

td:first-child, th:first-child {
    padding: 0.2em 0;
    white-space: nowrap;
}

td, th {
    padding: 0.2em 0.5em;
    white-space: nowrap;
}

td:last-child, th:last-child {
    width: 99%
}

label {
    margin: 0;
    padding: 0;
}

label span {
    vertical-align: middle;
}
