<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let user of (users | async); let i = index; trackBy: getId">
            <tr>
                <td>
                    <label>
                        <span class="material-icons" [innerHtml]="isExpanded.checked ? 'expand_more' : 'chevron_right'">expand_less</span>
                        <input #isExpanded [id]="'isExpanded' + i" type="checkbox" (click)="undefined" hidden/>
                    </label>
                </td>
                <td><label [for]="'isExpanded' + i">{{user.username}}#{{user.discriminator}}</label></td>
                <td><label [for]="'isExpanded' + i">{{user.firstSeen | date:'y-MMM-d h:mm:ss a'}}</label></td>
                <td><label [for]="'isExpanded' + i">{{user.lastSeen | date:'y-MMM-d h:mm:ss a'}}</label></td>
                <td></td>
            </tr>
            <tr *ngIf="isExpanded.checked">
                <td colspan="5">
                    <user-update-form [userId]="user.id"></user-update-form>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
