.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.roles-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em;
    box-shadow: .25rem 0 .75rem rgba(0, 0, 0, .05);
}

.role-container {
    padding: 1em;
    flex-grow: 1;
}
